@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="footer">
    <div class="container-footer">
        <p class="text">&copy; @DateTime.Now.Year ShopEProduction. All Rights Reserved.</p>
    </div>
</footer>

<style>
    .footer {
		margin-top: 20px;
        background-color: #343a40;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }
</style>
